<nav class="navbar navbar-expand-md navbar-dark primary-color fixed-top">
  <img src="/assets/images/rockhome-logo.png" height="80px" alt="logo"/>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
  </div>
</nav>

<body>
<div class="">
  <div class="">
    <div *ngIf="isLoggedIn; else loggedOut">
    </div>

    <ng-template #loggedOut>
      <div class="container sec-cus">
        <div class="col-12 col-lg-12 mx-auto text-center">
          <div class="container">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <h2>Login</h2>
                  <hr>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 field-label-responsive">
                  <label for="username">Username</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                      <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
                             required >
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                                    <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
                        </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 field-label-responsive">
                  <label for="password">Password</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                      <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
                             required minlength="6" >
                    </div>
                  </div>
                </div>
                <div *ngIf="f.submitted && password.invalid">
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                    Login failed: {{errorMessage}}
                  </div>
                  <button class="btn btn-success"><i class="fa fa-user-plus"></i> Login</button>

                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </ng-template>
  </div>
</div>


</body>
